BasedOnStyle:  Google
IndentWidth: 4
ColumnLimit: 150
BreakBeforeBinaryOperators: All
AlignAfterOpenBracket: Align
Cpp11BracedListStyle: false
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false